<ol class="breadcrumb float-right">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item active">Attendance</li>
</ol>
<div class="card">
    <div class="header">
        <h2 class="title">Atendimento</h2>
    </div>
    <div class="content">
        <div *ngIf="feedback" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
        <form *ngIf="attendance" #editForm="ngForm" (ngSubmit)="save()">

            <!-- <div class="form-group">
                <label for="selectedClinic">Selecione a clínica</label>
                <select class="form-control" id="selectedClinic" (change)="selectedClinic($event.target.value)">
                    <option [value]="clinic.clinicId" *ngFor="let clinic of clinics">
                        {{clinic.name}}
                    </option>
                </select>
            </div> -->

            <p-dropdown [required]="true" [options]="clinics2" [(ngModel)]="selectedClinic"
                placeholder="Selecione a clinica" (click)="chosenClinic()" optionLabel="name" [showClear]="true">
            </p-dropdown>

            <div class="form-group">
                <label for="amount">Valor</label>
                <input type="number" [(ngModel)]="attendance.amount" id="amount" name="amount" class="form-control">
            </div>
            <div class="form-group ">
                <label for="amount ">Valor</label>
                <input type="number " [(ngModel)]="attendance.amount " id="amount " name="amount "
                    class="form-control ">
            </div>

            <div class="form-group">
                <label for="creationDate">Data do atendimento</label>
                <input type="date" [(ngModel)]="attendance.creationDate" id="creationDate" name="creationDate"
                    class="form-control">
            </div>

            <div class="form-group ">
                <label for="amountPaid ">Valor pago</label>
                <input [(ngModel)]="attendance.amountPaid " id="amountPaid " name="amountPaid " class="form-control ">
            </div>

            <div class="form-group ">
                <label for="cardFee ">Taxa do cartão</label>
                <input [(ngModel)]="attendance.cardFee " id="cardFee " name="cardFee " class="form-control ">
            </div>

            <div class="form-group">
                <label for="installmentsAmount">Quantidade de parcelas</label>
                <input type="number" [(ngModel)]="attendance.installmentsAmount" id="installmentsAmount"
                    name="installmentsAmount" class="form-control">
            </div>
            <div class="form-group">
                <label for="installmentsAmount">Tipo de pagamento</label>
                <input type="number" [(ngModel)]="attendance.TypeOfPayment" id="TypeOfPayment" name="TypeOfPayment"
                    class="form-control">
            </div>
            <mat-form-field>
                <mat-select placeholder="Selecione o tipo de pagamento">
                    <mat-option value=0>Débito</mat-option>
                    <mat-option value=1>Crédito</mat-option>
                </mat-select>
            </mat-form-field>

            <div class="form-group">
                <label for="installmentsPaid">Quantidade de parcelas pagas</label>
                <input [(ngModel)]="attendance.installmentsPaid" id="installmentsPaid" name="installmentsPaid"
                    class="form-control">
            </div>

            <div class="form-group ">
                <label for="historic ">Histórico</label>
                <input [(ngModel)]="attendance.historic " id="historic " name="historic " class="form-control ">
            </div>

            <button type="submit " class="btn btn-primary " [disabled]="!editForm.form.valid ">Save</button>
            <button type="button " class="btn btn-secondary " (click)="cancel() ">Cancel</button>
        </form>
    </div>
</div>